<!-- <body>
<div class="container" >
  <div class="container">
    <div class="row">
      <h1 class="col-md-1">{{product.prodId}}</h1>
      <h4 class="col-md-1">{{product.prodName}}</h4>
      <h4 class="col-md-1">{{product.pizza}}</h4>
      <h4 class="col-md-1">{{product.price}}</h4>
      <h4 class="col-md-1">{{product.base}}</h4>
      <h4 class="col-md-1">{{product.type}}</h4>

    </div>
  </div>
</div>
</body> -->
<!-- prodId:number;
prodName:string;
pizza: string;
price:number;
base: string;
type: string; -->

